/* this is the "root" in "root em." */
html {
      font-size: 62.5%;
      /* Now 10px = 1rem! */
      box-sizing: border-box;
}

*,
*:before,
*:after {
      box-sizing: inherit;
}

body {
      font-size: 16px;
      /* px fallback */
      font-size: 1.6rem;
      /* default font-size for document */
      line-height: 2;
      /* a nice line-height */
      font-family: 'Open Sans', sans-serif;
}

/* for everything else, rem = px/10 */
footer {
      font-size: 13px;
      font-size: 1.3rem;
}

/* you can safely nest rems, it's still 1rem = 10px */
footer small {
      font-size: 10px;
      font-size: 1rem;
}

/* CUSTOM CSS */
/*Globales*/
.contenedor{
      max-width: 120rem;
      width: 95%;
      margin: 0 auto;
}

h1,h2,h3,h4{
      font-family: 'PT Sans', sans-serif;
}

h1{
      font-size: 4.8rem;
}

h2{
      font-size: 4rem;
      line-height: 1.2;
}

h3{
      font-size: 3.2rem;
}

h4{
      font-size: 2.8rem;
}

img{
      max-width: 100%;
} 

a{
      text-decoration: none;
      color: #000000;
}

/* Utilidades */

.centrar-texto{
      text-align: center;
}

.no-margin{
      margin: 0;
}

.fw-400{
      font-weight: 400;
}

.fw-700{
      font-weight: 700;
}

/*Grid*/
@media (min-width: 768px) {
      .grid{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
      }

      .centrar-col{
            justify-content: center;
      }

      .colum-4{
            flex: 0 0 calc(33.3% - 2rem);
      }


      .colum-6{
            flex: 0 0 calc(50% - 2rem);
      }


      .colum-8    {
            flex: 0 0 calc(66.6% - 2rem);
      }

      .col-10{
            flex: 0 0 calc(83.3% - 2rem);
      }

      .col-12{
            flex: 0 0 100%;
      }

} 


/*Botones*/
.btn{
      border: none;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 1rem 3rem;
      margin: 2rem 0;
      color: #ffffff;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      font-size: 2rem;
      flex: 0 0 100%;
}

.btn:hover{
      cursor: pointer;
}

@media (min-width: 768px) {
      .btn{
            display: inline-block;
            flex: 0 0 auto;
      }
}

.btn-primary{
      background-color: #000000;
}

.btn-secundario{
      background-color: #784d3c;
}

/*Header*/
@media (min-width: 768px) {
      .barra{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}

.site-header{
      background-image: url(../img/banner.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 60rem;
}

.site-header a{
      color: #ffffff;
      text-decoration: none;
}

/*Navegacion*/

.navegacion a{
      display: block;
      font-size: 1.8rem;
      color: #ffffff;
}

@media (min-width: 768px) {
      .navegacion a{
            display: inline;
            margin-right: 2rem;
      }
      
      .navegacion a:last-of-type{
            margin-right: 0;
      }
}


/*Header*/
.texto-header{
      color: #ffffff;
      margin-top: 5rem;
}

@media (min-width: 768px) {
      .texto-header{
            margin-top: 15rem;
      }
}

.texto-header p{
      font-size: 2.2rem;
}

/*Contenido principal HOME*/

.contenido-principal{
      display: flex;
      flex-wrap: wrap;
}

.blog,
.cursos{
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
}

.cursos{
      order: -1;
}

@media (min-width: 768px) {
      .contenido-principal{
            justify-content: space-between;
      }
      .blog{
            flex-basis: 66.6%;
            order: -1;
      }

      .cursos{
            flex-basis: calc(33.3% - 4rem);
      }
}

/* Opcional */

.entrada-blog{
      margin-bottom: 2rem;
      border-bottom: 1px solid #e1e1e1;
}

.entrada-blog:last-of-type{
      border-bottom: none;
}

/*Cursos sidevar*/

.cursos-lista{
      padding: 0;
      list-style: none;
}

.curso{
      padding: 3rem 0;
      border-bottom: 1px solid #e1e1e1;
}

.curso:last-of-type{
      border-bottom:none;
}

.curso p{
      font-family: 'PT Sans', sans-serif;
      font-size: 2rem;
}

/*Footer*/

.site-footer{
      background-color: #000000;
      padding: 3rem;
      margin-top: 4rem;
}

.site-footer p{
      color: #ffffff;
      font-size: 4rem;
      font-family: 'PT Sans', sans-serif;
}

/*Contacto*/

.formulario-contacto{
      background-color: #ffffff;
      padding: 5rem;
}

@media (min-width: 768px) {
      .formulario-contacto{
            margin-top: -10rem;
      }
}

.formulario-contacto .campo{
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
}

.formulario-contacto .campo label{
      flex: 0 0 8rem;
}

.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto .campo textarea{
      flex: 1;
      border: 1px solid #e1e1e1;
      padding: 1rem;
}

.formulario-contacto .campo textarea{
      height: 20rem;
}

.formulario-contacto .enviar{
      display: flex;
      justify-content: flex-end;
}